@tailwind base;
@tailwind components;
@tailwind utilities;

.bar::after {
  content: '';
  position: absolute;
  width: 19px;
  height: 56px;
  background: #000;
  left: 0;
  top: -10px;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
